@font-face
{ 
    font-family : customfont_kor;
    src : url(etc/BM_hanna_air.otf);
}

@font-face
{ 
    font-family : customfont_jp;
    src : url(etc/NotoSansJP-VariableFont_wght.ttf);
}



body
{
    margin : 0;
    padding : 0;
    overflow-x : hidden;
    overflow-y : hidden;
    scroll-behavior : smooth;
    transition : scroll-behavior 1s;
}

.body_t
{
    font-family : customfont_kor;
}


@keyframes move_wave 
{
    0% 
    {
        transform: translateX(0) translateZ(0) scaleY(0.9)
    }
    50% 
    {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% 
    {
        transform: translateX(-50%) translateZ(0) scaleY(0.9)
    }
}

.waveWrapper 
{
    position : fixed;
    left : -950px;
    right : 0;
    bottom : 0;
    top : -16px;
    margin : auto;
    width : 1110px;
    transform : rotate(90deg);
}

.wave 
{
    position : absolute;
    left : 0;
    width : 200%;
    height : 100%;
    background-repeat : repeat no-repeat;
    background-position : 0 bottom;
    transform-origin: center bottom;
    background-size: 50% 290px;
    transition : all 0.2s;
}

.waveAnimation .waveTop
{
    animation : move_wave 8s linear infinite;
    margin-top : var(--m_interect_120xx);
    /* transition : margin 0.12s; */
}

.waveAnimation .waveMiddle 
{
    animation : move_wave 6s linear infinite;
    margin-top : var(--m_interect_0xx);
    top : 16px;
    transition : all 0.5s;
}

.waveAnimation .waveBottom
{
    animation : move_wave 12s linear infinite;
    margin-top : var(--m_interect_12xx);
    /* transition : margin 0.1s; */
}




/* width */
::-webkit-scrollbar 
{
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #fff9f6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #749eca; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #6082a7;
}



/* Loading bar */
.loading_bar_bg
{
    width : 100%;
    height : 1080px;
    transition : width 4.5s;
}

.loading_bar_grad
{
    background-image : linear-gradient(to right,#fcf5f7,#fcf5f7,#c079d0,#7ad3e2,#3bb9d3,#d8eaeb);
    height : 2px;
}


.hello_title_eng
{
    font-size : var(--s160px);
    left : var(--s112px);
    font-weight : bold;
    transition : opacity 0.5s, margin-left 0.1s, margin-top 0.1s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);
    text-shadow: -8px -8px 0 #fff9f6, 8px -8px 0 #fff9f6, -8px 8px 0 #fff9f6, 8px 8px 0 #fff9f6;
}

.quick_select_bg_outline
{
    background : #ebebeb;
    mix-blend-mode : difference;
}

.quick_select_works
{
    color: #fff9f6;
    mix-blend-mode: difference;
}

.quick_select_contact
{
    color: #fff9f6;
    mix-blend-mode: difference;
}

.quick_select_main
{
    color: #fff9f6;
    mix-blend-mode: difference;
}

.music_info
{
    color: #fff9f6;
    mix-blend-mode: difference;
    /* text-shadow : -1px -1px 0 #fff9f6, 1px -1px 0 #fff9f6, -1px 1px 0 #fff9f6, 1px 1px 0 #fff9f6; */
}

.music_info2
{
    color: #fff9f6;
    mix-blend-mode: difference;
}

.music_button
{
    filter : drop-shadow(1px 0 0px #fff9f6) drop-shadow(0 1px 0 #fff9f6) drop-shadow(-1px 0 0px #fff9f6) drop-shadow(0 -1px 0 #fff9f6);
}


.hello_title_kor
{
    font-size : var(--s48px);
    left : var(--s112px);
    font-weight : bold;
    transition : opacity 0.5s, margin-left 0.1s, margin-top 0.1s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);
    text-shadow: -3px -3px 0 #fff9f6, 3px -3px 0 #fff9f6, -3px 3px 0 #fff9f6, 3px 3px 0 #fff9f6;
}

.hello_title_jap
{
    font-size : var(--s48px);
    left : var(--s108px);
    font-weight : bold;
    font-family: customfont_jp;
    transition : opacity 0.5s, margin-left 0.1s, margin-top 0.1s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);
    text-shadow: -2.3px -2.3px 0 #fff9f6, 2.3px -2.3px 0 #fff9f6, -2.3px 2.3px 0 #fff9f6, 2.3px 2.3px 0 #fff9f6;
}

.hello_title_desc
{
    font-size : var(--s18px);
    left : var(--s112px);
    transition : opacity 0.5s, margin-left 0.1s, margin-top 0.1s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);;
    text-shadow: -1px -1px 0 #fff9f6, 1px -1px 0 #fff9f6, -1px 1px 0 #fff9f6, 1px 1px 0 #fff9f6;
}

.accent
{
    font-size : 20px;
    color : #e29056;
}

.accent2
{
    font-size : 18px;
    color : white;
}

.jp
{
    font-family: customfont_jp;
}
