@font-face
{ 
    font-family : customfont;
    src: url(etc/BM_hanna_air.otf);
}

div
{
    font-family: customfont;
    scroll-behavior: smooth;
}

@keyframes move_wave 
{
    0% 
    {
        transform: translateX(0) translateZ(0) scaleY(0.9)
    }
    50% 
    {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% 
    {
        transform: translateX(-50%) translateZ(0) scaleY(0.9)
    }
}

.waveWrapper 
{
    overflow : hidden;
    position : absolute;
    left : -950px;
    right : 0;
    bottom : 0;
    top : 0;
    margin : auto;
    width : 1110px;
    transform : rotate(90deg);
}

.wave 
{
    position : absolute;
    left : 0;
    width : 200%;
    height : 100%;
    background-repeat : repeat no-repeat;
    background-position : 0 bottom;
    transform-origin: center bottom;
    background-size: 50% 290px;
}

.waveAnimation .waveTop
{
    animation : move_wave 8s linear infinite;
    margin-top : var(--m_interect_120xx);
    /* transition : margin 0.12s; */
}

.waveAnimation .waveMiddle 
{
    animation : move_wave 6s linear infinite;
}

.waveAnimation .waveBottom
{
    animation : move_wave 12s linear infinite;
    margin-top : var(--m_interect_12xx);
    /* transition : margin 0.1s; */
}




/* width */
::-webkit-scrollbar 
{
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #fff9f6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #749eca; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #6082a7;
}



/* Loading bar */
.loading_bar_bg
{
    width : 100%;
    height : 1080px;
    transition : width 4.5s;
}

.loading_bar_grad
{
    background-image : linear-gradient(to right,#fcf5f7,#fcf5f7,#c079d0,#7ad3e2,#3bb9d3,#d8eaeb);
    height : 2px;
}


.hello_title_eng
{
    font-size : var(--s160px);
    left : var(--s112px);
    font-weight : bold;
    transition : opacity 0.5s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);
    text-shadow: -8px -8px 0 #fff9f6, 8px -8px 0 #fff9f6, -8px 8px 0 #fff9f6, 8px 8px 0 #fff9f6;
}

.music_info
{
    text-shadow: -1px -1px 0 #fff9f6, 1px -1px 0 #fff9f6, -1px 1px 0 #fff9f6, 1px 1px 0 #fff9f6;
}

.music_info2
{
    text-shadow: -1px -1px 0 #fff9f6, 1px -1px 0 #fff9f6, -1px 1px 0 #fff9f6, 1px 1px 0 #fff9f6;
}

.hello_title_kor
{
    font-size : var(--s48px);
    left : var(--s112px);
    font-weight : bold;
    transition : opacity 0.5s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);
    text-shadow: -3px -3px 0 #fff9f6, 3px -3px 0 #fff9f6, -3px 3px 0 #fff9f6, 3px 3px 0 #fff9f6;
}

.hello_title_jap
{
    font-size : var(--s48px);
    left : var(--s108px);
    font-weight : bold;
    font-family: auto;
    transition : opacity 0.5s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);
    text-shadow: -2.3px -2.3px 0 #fff9f6, 2.3px -2.3px 0 #fff9f6, -2.3px 2.3px 0 #fff9f6, 2.3px 2.3px 0 #fff9f6;
}

.hello_title_desc
{
    font-size : var(--s18px);
    left : var(--s112px);
    transition : opacity 0.5s;
    margin-left : var(--m_interect_xx);
    margin-top : var(--m_interect_yy);;
    text-shadow: -1px -1px 0 #fff9f6, 1px -1px 0 #fff9f6, -1px 1px 0 #fff9f6, 1px 1px 0 #fff9f6;
}

.accent
{
    font-size : 20px;
    color : #fe74cc;
}

.showcase_works_title_sec2
{
    font-family: auto;
}

.dot_effect
{
    margin-top : var(--m_interect_yy2);
    margin-left : var(--m_interect_xx2);
}

.air_res_bar
{
    -webkit-appearance : none;
    position : absolute;
    background : #867dff;
    font-weight : bold;
    white-space: nowrap;
    transition : background 0.2s, opacity 1s;
    top : 4230px;
    z-index : 9999;
    padding : 2px;
    height : 3px;
    width : 150px;
    left : 47.1%;
    border-radius : 12px;
}

.air_res_bar:hover 
{
    transition : opacity 0.5s;
}

.air_res_bar::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #e29056;
    cursor: pointer;
    border-radius : 12px;
    transition : opacity 0.5s;
}

.air_res_bar::-moz-range-thumb 
{
    width: 12px;
    height: 12px;
    background: #e29056;
    cursor: pointer;
    border-radius : 12px;
    transition : opacity 0.5s;
}

.air_res_bar::-moz-range-thumb
{
    -webkit-appearance: none;
    appearance: none;
    background : #e29056;
    width : 12px;
    height : 12px;
    cursor: pointer;
    transition : opacity 0.5s;
}


.dot_effect_bg
{
    -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
